<link rel="stylesheet" href="../fontawesome/all.min.css" />
<link rel="stylesheet" href="../fontawesome/fontawesome.min.css" />
<link rel="stylesheet" href="../css/cart.css" />
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<!-- cart-ejs start -->

<section id="cart">
  <% if(session.cart){ %>
  <div class="container text-center w-50">
    <div class="d-flex flex-row align-items-center border-bottom border-dark">
      <i class="fas fa-shopping-cart"></i>
      <h1 class="font-weight-bold ml-4 text-light h2">Order summary</h1>
    </div>
    <% for(let food of Object.values(session.cart.items)) { %>
    <div class="mt-4">
      <div class="d-flex justify-content-between">
        <img src="../images/<%= food.item.image %>" alt="" id="img1" />
        <div class="ml-4">
          <h1 class="h4 text-light mt-5"><%= food.item.name %></h1>
        </div>
        <span class="text-light h4 mt-5"><%= food.qnty %></span>
        <span class="font-weight-bold text-light h4 mt-5"
          ><%= food.item.price * food.qnty %>$</span
        >
      </div>
    </div>

    <% } %>

    <div class="text-right text-light">
      <div class="mb-3">
        <span class="h3">Total amount:</span>
        <span class="h3"><%= session.cart.totalPrice %>$</span>
      </div>
      <% if (user) { %>
      <div class="input-group-sm w-25 float-right">
        <form action="/orders" method="POST">
        <input
        name="phone"
        type="text"
        class="form-control mb-2"
        placeholder="phone-number"
        />
        <input name="address" type="text" class="form-control" placeholder="address" />
        <button type="submit" class="btn btn-danger rounded">order now</button>
      </div>
    </form>
      <% } else { %>
      <a href="/login" class="btn btn-danger rounded">Login to continue</a>
      <% } %>
    </div>
  </div>
  <% } else { %>
  <div class="container-fluid">
    <h1 id="h1">Cart is empty 😟</h1>
    <p class="description">
      You probably haven't order any item yet. To order any item, please go to
      main page😊.
    </p>
    <img class="man" src="../images/shop.jpg" alt="" />
    <button type="submit" class="btn btn-light" id="back-btn">
      <i class="fas fa-chevron-circle-left"></i>go back
    </button>
  </div>
  <% } %>
</section>
<!-- cart-ejs finished -->

<script src="../js/jquery-3.5.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
